Sources/Windows/Debug
Sources/Windows/Release
Sources/Windows/*/Release
Sources/Windows/.vs
Sources/Windows/*.aps
vim.exe.stackdump
ffmpeg.exe
youtube-dl.exe
yt-dlp.exe
Sources/youtube-dl-plugin-tests/Release
Sources/youtube-dl-plugin-tests/Debug
Sources/Windows/packages